{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block base_stylesheet %}{% endblock %}
{% endblock %}
{% block content %}
    <header class="header">
        <nav class="header__nav">
            <ul>
                <li>
                    <a href="{% url 'recommendation:recommendation-list' %}">Рекомендации</a>
                </li>
                <li>
                    <a>Записать прием пищи</a>
                </li>
            </ul>
            <a class="header__nav__logo" href="{% url 'users:index' %}">
                <img src="{% static 'image/logo.png' %}" alt="logo">
            </a>
            <ul>
                <li>
                    <a href="{% url 'recommendation:diet-planning' %}">Планировка рациона питания</a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">Выйти из аккаунта</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
{% endblock %}